In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
from pandas import DataFrame

In [32]:
from pandas.io import sql


##############################################################
            #MYSQL CONNECTION
##############################################################
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table
engine = create_engine('mysql+mysqlconnector://root:anoop4488@localhost/flaskapp')

connection = engine.connect()

In [33]:
movies = connection.execute("Select * from movies")

In [34]:
movies_df = DataFrame(movies.fetchall())
movies_df.columns = movies.keys()

In [35]:
movies_df.head()

   MovieID                         Title                        Genres
0        1                    Toy Story    Animation|Children's|Comedy
1        2                      Jumanji   Adventure|Children's|Fantasy
2        3             Grumpier Old Men                 Comedy|Romance
3        4            Waiting to Exhale                   Comedy|Drama
4        5  Father of the Bride Part II                         Comedy

In [36]:
ratings = connection.execute("Select * from userRatings")

In [37]:
ratings_df = DataFrame(ratings.fetchall())
ratings_df.columns = ratings.keys()

In [38]:
ratings_df.head()

   UserID  MovieID  Rating
0       1     1193       5
1       1      661       3
2       1      914       3
3       1     3408       4
4       1     2355       5

In [39]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
R = R_df.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)
print(R_demeaned.shape)

(6041, 3706)

In [41]:
n_users = R_demeaned.shape[0]
n_movies = R_demeaned.shape[1]
print (n_users, n_movies)

6041 3706

In [42]:
# ratingsPerMovie = R_df.apply(pd.value_counts)

# ratingsPerMovieT = ratingsPerMovie.T.fillna(0)
# ratingsPerMovieT.columns = ['R0', 'R1', 'R2', 'R3', 'R4', 'R5']
# print(ratingsPerMovieT)
# ratingsPerMovieT.to_sql('movieRatings', engine, if_exists='replace', index=True, chunksize = 1000)

In [43]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [44]:
sigma = np.diag(sigma)

In [45]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

In [46]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )

    #print ('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    #print ('Recommending the highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )
    recommendations['UserID'] = userID
#     print(recommendations.head())
#     with open('predictions.csv', 'a') as f:
#         recommendations.to_csv(f, header=None, sep='\t')

    return user_full, recommendations

In [47]:
predictions_df = pd.DataFrame([])
for i in range(n_users):
    already_rated, predictions = recommend_movies(preds_df, i+1 , movies_df, ratings_df, 40)
    predictions_df = predictions_df.append(predictions)

In [48]:
predictions_df.tail()

      MovieID                 Title                        Genres  UserID
899       913  Maltese Falcon, The              Film-Noir|Mystery    6041
955       969   African Queen, The   Action|Adventure|Romance|War    6041
2719     2797                  Big                 Comedy|Fantasy    6041
2349     2427   Thin Red Line, The               Action|Drama|War    6041
3282     3361          Bull Durham                         Comedy    6041

In [49]:
predictions_df.to_sql('predictions', engine, if_exists='replace', index=False, chunksize = 1000)

In [50]:
already_rated

,UserID,MovieID,Rating,Title,Genres
1,6041,2028,5,Saving Private Ryan,Action|Drama|War
2,6041,1617,5,L.A. Confidential,Crime|Film-Noir|Mystery|Thriller
4,6041,1270,5,Back to the Future,Comedy|Sci-Fi
7,6041,1385,5,Under Siege,Action
6,6041,110,4,Braveheart,Action|Drama|War
9,6041,1287,4,Ben-Hur,Action|Adventure|Drama
3,6041,2858,3,American Beauty,Comedy|Drama
8,6041,1644,2,I Know What You Did Last Summer,Horror|Mystery|Thriller
0,6041,480,1,Jurassic Park,Action|Adventure|Sci-Fi
5,6041,1097,1,E.T. the Extra-Terrestrial,Children's|Drama|Fantasy|Sci-Fi