In [1]:
import tmdbsimple as tmdb
tmdb.API_KEY = 'c6fee39b4911de8e990c80a3ae295895'
from pprint import pprint

In [2]:
import pandas as pd
import numpy as np
from math import sqrt
from pandas.io import sql

In [3]:
ratings_list = [i.strip().split("::") for i in open('./ml-1m/ratings.dat', 'r').readlines()]
#users_list = [i.strip().split("::") for i in open('./ml-1m/users.dat', 'r').readlines()]
movies_list = [i.strip().split("::") for i in open('./ml-1m/movies.dat', 'r', encoding='latin-1').readlines()]

ratings_df = pd.DataFrame(ratings_list, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
movies_df = pd.DataFrame(movies_list, columns = ['MovieID', 'Title', 'Genres'])
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)

In [4]:
movies_df['Title'] = movies_df['Title'].str.replace(r"\(.*\)","")

In [5]:
movies_df.head()

   MovieID                         Title                        Genres
0        1                    Toy Story    Animation|Children's|Comedy
1        2                      Jumanji   Adventure|Children's|Fantasy
2        3             Grumpier Old Men                 Comedy|Romance
3        4            Waiting to Exhale                   Comedy|Drama
4        5  Father of the Bride Part II                         Comedy

In [23]:
    import json

In [24]:

# search = tmdb.Search()
# response = search.movie(query='Jumanji')
# pprint(search.results[0])

In [26]:
for row in movies_df.itertuples():
    search = tmdb.Search()
    response = search.movie(query=row[2])
    with open('./JsonData/response.json', 'a') as fp:
        json.dump(search.results[0], fp, indent=4)
        fp.write('\n')

IndexError: list index out of range

In [ ]:
# pprint(list)
for row in movies_df.itertuples():
    if( row[1] > 820):
        search = tmdb.Search()
        response = search.movie(query=row[2])
        if(len(search.results) != 0):
            with open('./JsonData/response.json', 'a') as fp:
                json.dump(search.results[0], fp, indent=4)
                fp.write('\n')

In [22]:
# import json

# search = tmdb.Search()
# response = search.movie(query='Matrix Reloaded')
# with open('./JsonData/response.json', 'a') as fp:
#     json.dump(search.results[0], fp, indent=4)
#     fp.write('\n')