In [6]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics.pairwise import pairwise_distances
from pandas import DataFrame

In [2]:
trainRMSE = []
testRMSE = []

In [3]:
from pandas.io import sql


##############################################################
            #MYSQL CONNECTION
##############################################################
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table
engine = create_engine('mysql+mysqlconnector://root:anoop4488@localhost/flaskapp')

connection = engine.connect()

In [4]:
ratings = connection.execute("Select * from userRatings")

In [7]:
ratings_df = DataFrame(ratings.fetchall())
ratings_df.columns = ratings.keys()

In [8]:
ratings_df.head()

   UserID  MovieID  Rating
0       1     1193       5
1       1      661       3
2       1      914       3
3       1     3408       4
4       1     2355       5

In [10]:
n_users = ratings_df.UserID.unique().shape[0]
n_items = ratings_df.MovieID.unique().shape[0]

In [11]:
print(n_users, n_items)

6041 3706

In [27]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(R_df, test_size=0.25)

#Create two user-item matrices, one for training and another for testing
train_data_matrix = train_data.as_matrix()
test_data_matrix = test_data.as_matrix()

In [29]:
# Load movie data
idx_to_movie = {}
movies = connection.execute("Select * from movies")
movies_df = DataFrame(movies.fetchall())
movies_df.columns = movies.keys()
movies_df.head()

   MovieID                         Title                        Genres
0        1                    Toy Story    Animation|Children's|Comedy
1        2                      Jumanji   Adventure|Children's|Fantasy
2        3             Grumpier Old Men                 Comedy|Romance
3        4            Waiting to Exhale                   Comedy|Drama
4        5  Father of the Bride Part II                         Comedy

In [47]:
train_data_matrix.shape
test_data_matrix.shape

user_ratings_mean = np.mean(train_data_matrix, axis = 1)
train_demeaned = train_data_matrix - user_ratings_mean.reshape(-1, 1)

ur_ratings_mean = np.mean(test_data_matrix, axis = 1)
test_demeaned = test_data_matrix - ur_ratings_mean.reshape(-1, 1)

In [48]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds
 
#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_demeaned, k = 20)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)

In [49]:
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
 
    return sqrt(mean_squared_error(prediction, ground_truth))

In [52]:
modelBasedTrainRMSE = rmse(X_pred, train_demeaned)
modelBasedTestRMSE = rmse(X_pred, test_demeaned)

In [53]:
print ('Model-based CF MSE on train data: ' + str(modelBasedTrainRMSE))
print ('Model-based CF MSE on test data: ' + str(modelBasedTestRMSE) + "\n")

Model-based CF MSE on train data: 0.5967437208268929
Model-based CF MSE on test data: 0.806861624246274

In [62]:
user_similarity = 1 - pairwise_distances(train_data_matrix, metric='correlation')
print(user_similarity)

[[1.         0.0693228  0.06059383 ... 0.00608187 0.16074791 0.09697838]
 [0.0693228  1.         0.12558892 ... 0.17876522 0.06240128 0.03734736]
 [0.06059383 0.12558892 1.         ... 0.25731981 0.03907942 0.05527594]
 ...
 [0.00608187 0.17876522 0.25731981 ... 1.         0.05528498 0.03586156]
 [0.16074791 0.06240128 0.03907942 ... 0.05528498 1.         0.10936801]
 [0.09697838 0.03734736 0.05527594 ... 0.03586156 0.10936801 1.        ]]

In [68]:
# movie_similarity = 1 - pairwise_distances(train_data_matrix.T, metric='correlation')

In [69]:
#########################################################################
# predicting the ratings
#########################################################################
def predict ( ratings, similarity, type='user' ):

    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        # here axis = 1 means along the row. Default is axis = 0 which means along the column
        #You use np.newaxis so that mean_user_rating has same format as ratings         
        #print(ratings.shape)  (943, 1682)
        #print(mean_user_rating[:, np.newaxis].shape) (943,1)


        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
        #print(pred.shape)
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
        #print(pred.shape)
    return pred


movie_prediction = predict (train_data_matrix, movie_similarity, type='item')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [70]:
userBasedTrainRMSE = rmse(user_prediction, train_data_matrix)
userBasedTestRMSE = rmse(user_prediction, test_data_matrix)

In [71]:
print ('User-based CF MSE on train data: ' + str(userBasedTrainRMSE))
print ('User-based CF MSE on train data: ' + str(userBasedTestRMSE)+"\n")

User-based CF MSE on train data: 2.898075529391892
User-based CF MSE on train data: 3.1753283312588683

In [74]:
# itemBasedTrainRMSE = rmse(movie_prediction, train_data_matrix)
# itemBasedTestRMSE = rmse(movie_prediction, test_data_matrix)

In [75]:
def predict_topk(ratings, similarity, kind='user', k=50):
    pred = np.zeros(ratings.shape)
    if kind == 'user':
        for i in range(ratings.shape[0]):
            # [:total no of elements required*-1 : -1 for descending order]
            top_k_users = [np.argsort(similarity[:,i])[:-k-1:-1]]
            for j in range(ratings.shape[1]):
                pred[i, j] = similarity[i, :][top_k_users].dot(ratings[:, j][top_k_users]) 
                pred[i, j] /= np.sum(np.abs(similarity[i, :][top_k_users]))
    if kind == 'item':
        for j in range(ratings.shape[1]):
            top_k_items = [np.argsort(similarity[:,j])[:-k-1:-1]]
            for i in range(ratings.shape[0]):
                pred[i, j] = similarity[j, :][top_k_items].dot(ratings[i, :][top_k_items].T) 
                pred[i, j] /= np.sum(np.abs(similarity[j, :][top_k_items]))        
    
    return pred

In [76]:
pred = predict_topk(train_data_matrix, user_similarity, kind='user')
print("user_pred")
print(pred)
print(pred.shape)

user_pred
[[0.9396614  0.15934367 0.         ... 0.         0.         0.22891433]
 [2.4016228  0.69906101 0.35436202 ... 0.07661528 0.         0.30993977]
 [0.20598855 0.         0.13768053 ... 0.         0.         0.        ]
 ...
 [0.16115623 0.         0.0792944  ... 0.         0.         0.07660866]
 [0.08181992 0.04860574 0.03471505 ... 0.         0.         0.07634377]
 [2.19956256 0.80018768 0.96893549 ... 0.         0.         0.13771898]]
(4530, 3706)

In [80]:
KNNBasedTrainRMSE = rmse(pred, train_data_matrix)
KNNBasedTestRMSE = rmse(pred, test_data_matrix)

In [81]:
print ('KNN CF MSE on train data: ' + str(KNNBasedTrainRMSE)+"\n")
print ('KNN CF MSE on test data: ' + str(KNNBasedTestRMSE)+"\n")

KNN CF MSE on train data: 2.173852555399396

KNN CF MSE on test data: 3.1299266242843693